 <div class="jumbotron">
  	<h1 class="display-4">Welcome to Checklist </h1>
 		 <hr class="my-4">
  			<p>Always Keep your Tracks of your stuffs !</p>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-primary"%>
</div>


