<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-100" src="app/assets/images/jocker31.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="app/assets/images/jocker3.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="app/assets/images/code-wallpaper-29.jpg" alt="Third slide">
    </div>
  </div>
</div>


 -->

 <div class="jumbotron">
  <h1 class="display-4">Welcome to your Checklist </h1>
  <hr class="my-4">
  <p>Always Keep your Tracks of your stuffs !</p>
	<%= link_to "Sign_up"%>
</div>